/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f3f3f3;
  color: #333;
}

h1 {
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #699ed7;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

header h1 {
  margin: 0;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

thead th {
  background-color: #3271b0;
  color: white;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border: 1px solid #be6868;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e6f7ff;
}

/* Status Colors */
.passed {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  table,
  tbody,
  tr,
  td,
  th {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }

  tbody td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}
